
.container {
	max-width: 1020px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
}

.app-title {
  padding: 20px 15px;
  text-align: center;
}

.form-inline-cutom{
	display:inline;
}

.form-inline-block-custom{
	display:inline-block;
}

.btn:focus {
  outline: none;
}

.input:focus {
  outline: none;
}

.todo-closed-custom{
	text-decoration: line-through;
}

.btn-add-custom{
	margin-top: 8px;
}

.alert-custom{
	margin-top: 8px;
}